* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
}

a {
    cursor: pointer;
}

.footer p {
    line-height: 50px;
    margin: 0;
}

button {
    cursor: pointer;
}

ul li {
    list-style: none;
}

hr {
    display: none;
}

.text-center {
    text-align: center;
}

.borderless {
    border-bottom: 0 !important;
}

.row {
    margin: 0;
}

.overlay {
    display: none;
}

.navbar {
    border-bottom: 1px solid grey;
    width: 80%;
    margin: auto;
    z-index: 5;
}

.header.alt-header.index-bg .navbar {
    border-bottom: 1px solid white;
    width: 80%;
    margin: auto;
    z-index: 5;
}

.navbar ul {
    display: flex;
    position: absolute;
    right: 0;
    width: 70%;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.navbar li {
    flex: 1;
}

.navbar a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.navbar a:hover {
    color: #772E25;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.navbar a.active {
    color: white;
}

.navbar .active a {
    color: white;
}

.navbar a.active:hover {
    color: #772E25;
}

.navbar .toggleNav {
    display: none;
}

.top-nav .aboutC a {
    color: #7f7f7f;
}

.top-nav .navbar.aboutC a.navbar-brand.active {
    color: #772E25;
}

.top-nav .aboutC .active a {
    color: #772E25;
}

.alt-header .navbar a:hover {
    color: white;
}

.alt-header .navbar a.active:hover {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.alt-header .navbar .active a {
    color: white;
}

.index-bg {
    background: linear-gradient(117deg, black 0%, #545454 100%);
    background-image: url("https://res.cloudinary.com/adexot/image/upload/v1528911989/1_iujyky.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    height: 80vh;
    position: relative;
}

.header-container {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    letter-spacing: 0.5rem;
    z-index: 5;
}

.header-container header {
    font-size: 3.0rem;
}

.header-container h3 {
    width: 100%;
    margin: 0 auto;
}

.header-container .button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    margin-top: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.header-container .button:hover {
    color: #262626;
    background-color: #fff;
}

.header .design {
    transform: translateY(150px);
}

.header .design li {
    list-style: none;
    height: 3px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    display: inline-block;
}

.header .design .active-page {
    background-color: #fff;
}

.header .pointer {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 15px;
    transform: translate(-50%, 75%) rotate(45deg) scale(1.5);
    z-index: 5;
}

.header .pointer:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: #7f7f7f transparent transparent transparent;
    margin: 2px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    transform: rotate(90deg);
}

.alt-header {
    height: 500px;
    background-image: url("https://res.cloudinary.com/eze-mmuo/image/upload/q_auto:eco/v1532084339/logan-isbell-672551-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.alt-header:after {
    content: '';
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.alt-header .design {
    transform: translateY(100px);
}

.about .container {
    padding: 100px 0;
    color: #7f7f7f;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
}

.about header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
}

.about header:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #9e6c66;
    border-radius: 3px;
}

.about p {
    margin-top: 20px;
    text-align: left;
}

.about-button {
    border-radius: 25px;
    background-color: #9e6c66;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
    margin-top: 20px;
    text-decoration: none;
    padding: 12px 30px;
}

.about-button svg {
    height: 10px;
    width: 30px;
}

.about a {
    text-decoration: none;
    color: #fff;
    transition: transform .3s linear;
}

.about a:hover {
    transform: scale(1.2);
}

.about .animated-div {
    animation: jump 5s linear infinite;
}

.about-img-1 {
    width: 70%;
}

.about-img-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    width: 60%;
}


/*FAQs*/

.faq-nav .Faqs a {
    color: #7f7f7f;
}

.faq-nav .navbar.Faqs a.navbar-brand.active {
    color: #772E25;
}

.faq-nav .Faqs .active a {
    color: #772E25;
}

.faq .container {
    padding: 100px 0;
    color: #7f7f7f;
    min-width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.faq header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
}

.faq p {
    margin-top: 20px;
    text-align: center;
}

.main-faq {
    width: 70%;
    margin: 40px auto 0;
    padding-bottom: 120px;
}

.main-faq .container {
    margin-bottom: 30px;
}

.main-faq .container h5 {
    font-size: 16px;
    color: #772E25;
    margin-bottom: 20px
}

.faq .container .search input {
    width: 60%;
    margin: auto;
    border: 1px solid #e6e6e6;
    color: #7f7f7f;
    font-size: 14px;
    height: auto;
}

.faq .container .search button {
    position: relative;
    right: 4px;
    border: none;
    background: #772e25;
    width: 20px;
    height: auto;
}


/* ACCORDION */

.main-faq .container .accordion {
    background: #f0f0f0;
    height: auto;
    line-height: 30px;
    margin: 10px 0 0;
}

.main-faq .container .accordion .acc-header {
    font-size: 13px;
    padding-left: 20px;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-faq .container .accordion .acc-header:after {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    content: '+';
    font-size: 1em;
    position: absolute;
    right: 18.5%;
    height: 20px;
    line-height: 18px;
    width: 20px;
    border: solid 1px #772E25;
    color: #772E25;
    border-radius: 50%;
    text-align: center;
    transition: all .4s cubic-bezier(0.5, 0.2, 0.3, 1);
    cursor: pointer;
}

.main-faq .container .accordion .acc-header.active:after {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    content: '-';
    font-size: 1em;
    position: absolute;
    right: 18.5%;
    height: 20px;
    line-height: 16px;
    width: 20px;
    border: solid 1px #7f7f7f;
    color: #7f7f7f;
    border-radius: 50%;
    text-align: center;
    transition: all .4s cubic-bezier(0.5, 0.2, 0.3, 1);
    cursor: pointer;
}

.main-faq .container .acc-text.active {
    background: #f8f8f8;
}

.main-faq .container .accordion .acc-text {
    max-height: 0px;
    opacity: 0;
    transform: translateY(5px);
    background: #fff;
    padding: 0 20px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height .4s ease, opacity .8s ease, transform .8s ease;
}

.main-faq .container .accordion .acc-text p {
    text-align: left;
    padding: 10px 0 0 15px;
    display: block;
    font-size: 12px;
}

.main-faq .container .accordion .acc-text ul.inner-list {
    padding-left: 10%;
    margin: 0;
}

.main-faq .container .accordion .acc-text ul.inner-list li {
    background: none;
    list-style-type: disc;
    font-size: 11px;
    color: #7f7f7f;
    margin: 0;
}

.main-faq .container .accordion .acc-text a {
    color: #772E25;
    font-size: 11px;
    cursor: pointer;
}


/* ACCORDION */


/* SERVICE */

.services {
    padding-bottom: 100px;
}

.services .services-header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
}

.services .services-header:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #9e6c66;
    border-radius: 3px;
}

.services img {
    position: relative;
    height: 300px;
    width: 70%;
    border-radius: 5px;
}

.services .container {
    width: 90%;
    margin: auto;
    display: grid;
    justify-items: start;
    padding: 100px 0 50px;
    color: #7f7f7f;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
}

.services .contain {
    width: 70%;
    margin: auto;
    display: grid;
    justify-items: start;
    padding: 100px 0 50px;
    color: #7f7f7f;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
}

.services .col-4>header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
    padding: 50px 0;
}

.services .col-4>header:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #772E25;
    border-radius: 3px;
}

.services p {
    margin-top: 20px;
}

.services .service-info {
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
    padding: 15px 0;
}

.services .service-info:nth-of-type(even) {
    border-bottom: none;
}

.services .service-info svg {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.services .service-info header {
    color: #772E25;
    font-size: 1.1em;
}

.services .service-info a {
    font-size: 0.8em;
    color: #9e6c66;
}

.services .service-info a svg {
    height: 10px;
    width: 30px;
    fill: #9e6c66;
    transition: transform .3s linear;
}

.services .service-info a svg path {
    fill: #9e6c66;
}

.services .service-info a:hover svg {
    transform: translateX(10px);
}

.services .service-info p {
    min-height: 100px;
    padding-right: 0;
}

.services .service-list {
    width: 100%;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
    padding: 20px 0;
}

.services .service-list header svg {
    display: inline-block;
    height: 30px;
    width: 30px;
    transform: translateY(30%);
}

.services .service-list header .header-text {
    color: #772E25;
    font-size: 1.2em;
    padding-left: 10px;
}

.services .service-list p,
.services .service-list ul {
    max-width: 1000px;
    text-align: left;
}

.services .service-list a {
    color: #772E25;
    text-decoration: underline;
}

.services ul {
    padding: 0 5%;
}

.services ul li {
    position: relative;
    padding: 10px 20px 20px;
}

.services ul li:before {
    content: '';
    height: 10px;
    width: 10px;
    background-color: #9e6c66;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 0;
}


/* SERVICES */


/* PROVINCE */

.provinces {
    background-image: url(https://res.cloudinary.com/eze-mmuo/image/upload/q_auto:good/v1531562094/provinces_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0 100px;
    text-align: center;
}

.provinces>header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
}

.provinces>header:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #9e6c66;
    border-radius: 3px;
    transform: translateX(-50%);
}

.provinces .province-box {
    height: 300px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    background-color: rgba(38, 38, 38, 0.7);
    border-radius: 5px;
    margin-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    transition: all .3s ease-in-out;
}

.provinces .province-box:hover {
    padding-left: 30px;
    text-align: left;
}

.provinces .province-box:after {
    content: '';
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(119, 46, 37, 0.5);
    z-index: 2;
}

.provinces .province-box:hover p:after {
    content: '';
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.provinces .province-box:hover p {
    display: block;
}

.provinces .province-box:nth-of-type(even) {
    margin-left: 20px;
}

.provinces .province-box img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.provinces .province-box header,
.provinces .province-box p {
    z-index: 3;
}

.provinces .province-box header {
    color: #fff;
    font-size: 2em;
}

.provinces .province-box p {
    font-size: 1.1em;
    width: 90%;
    display: none;
}


/* PROVINCE */


/* ABOUT US */

.about-us {
    padding: 100px 0;
}

.about-us.container {
    padding: 50px 15px;
}

.about-us-container {
    max-width: 1000px;
    padding: 30px 5%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 2px 10px 2px rgba(127, 127, 127, 0.2);
    border-radius: 5px;
}

.about-us-container p {
    margin-top: 25px;
    text-align: left;
}

.about-us-container img#svg205 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.about-us-container img {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #7f7f7f;
    margin-bottom: 10px;
}

.about-us-container .author-profession {
    font-size: 0.9em;
}

.about-us header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
}

.about-us header:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #9e6c66;
    border-radius: 3px;
    transform: translateX(-50%);
}


/* ABOUT US */


/* contact*/

.contact {
    position: relative;
    padding: 100px 0 50px;
}

.contact-bg-one {
    position: absolute;
    top: 0;
    background-color: rgba(119, 46, 37, 0.9);
    height: 40%;
    width: 100%;
    z-index: 1;
}

.contact-bg-two {
    position: absolute;
    bottom: 15%;
    background-color: #772E25;
    height: 5%;
    width: 100%;
    z-index: 1;
}

.contact .pointer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotate(45deg) scale(1.5);
    z-index: 5;
}

.contact .pointer:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: #7f7f7f transparent transparent transparent;
    margin: 23px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    transform: rotate(90deg);
}

.contact>header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
    color: #fff;
    display: block;
    z-index: 3;
    text-align: center;
}

.contact>header:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
    transform: translateX(-50%);
}

.contact-container {
    position: relative;
    padding: 5%;
    background-color: #fff;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 0;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 0 2px 10px 2px rgba(127, 127, 127, 0.2);
}

.contact-container .contact-details {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(20%, -50%);
    background-color: rgba(119, 46, 37, 0.9);
    padding: 30px 20px;
    color: #fff;
    font-size: 0.4em;
}

.contact-container .contact-details header {
    color: #772E25;
    font-size: 2em;
    position: relative;
    display: inline-block;
    color: #fff;
}

.contact-container .contact-details header:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #9e6c66;
    border-radius: 3px;
}

.contact-container .contact-details li {
    margin-top: 20px;
}

.contact-container .contact-details span {
    font-size: 10.6px;
    font-weight: 100;
}

.contact-container .form {
    max-width: 900px;
    position: relative;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    margin: auto;
}

.contact-container .form .input-row {
    display: grid !important;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: start;
}

.contact-container .form .input-row .input-form .input-span {
    grid-column: span 1/ -1;
}

.contact-container .form .input-group {
    display: block;
    width: 80%;
    margin-bottom: 50px;
}

.contact-container .form .input-span {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.contact-container .form .input-group label {
    display: block;
    font-size: 0.8em;
    color: #7f7f7f;
}

.contact-container .form .input-group input,
.contact-container .form .input-group textarea {
    display: block;
    border: 0;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
}

.contact-container .form .input-group input::-webkit-input-placeholder,
.contact-container .form .input-group textarea::-webkit-input-placeholder {
    color: #000;
}

.contact-container .form .input-group input:-ms-input-placeholder,
.contact-container .form .input-group textarea:-ms-input-placeholder {
    color: #000;
}

.contact-container .form .input-group input::placeholder,
.contact-container .form .input-group textarea::placeholder {
    color: #000;
}

.contact-container .form .input-group input {
    height: 35px;
    width: 100%;
}

.contact-container .form .input-group textarea {
    width: 130%;
    resize: none;
}

.contact-container .form button {
    padding: 7px 20px;
    border-radius: 25px;
    background-color: #9e6c66;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
    border: 0;
    position: absolute;
    bottom: 35px;
    right: 18%;
}

.contact-image {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}


/* contact */


/* footer */

.footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #772E25;
    color: #fff;
    text-align: center;
}

.footer .contact-details {
    display: none;
}

.footer.about p {
    margin-top: 0;
}


/* footer */

.carousel {
    width: 50%;
    margin: 40px auto 0;
}

.carousel.abouts {
    width: 60%;
    margin: 0 auto;
    height: 50vh;
}

.carousel img {
    height: 300px;
    width: 100%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel.abouts ol.carousel-indicators.forabout {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel.abouts .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.carousel.abouts .carousel-inner .carousel-item img {
    height: 50vh;
    width: 100%;
}


/* MEDIA QUERIES START HERE */

@media screen and (min-width:320px) and (max-width: 767px) {
    .top-nav .navbar.aboutC a.navbar-brand.active {
        color: white;
    }
    hr {
        display: block;
        background: rgba(255, 255, 255, 0.3);
        width: 91%;
        margin: auto;
    }
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .header-container header {
        font-size: 2.5rem;
    }
    .header-container .button {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
        border-radius: 3px;
        display: inline-block;
        padding: 15px 20px;
        color: #fff;
        margin-top: 10px;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }
    section.about#about .container .row .col-md-6 .position-relative {
        padding-top: 0;
    }
    .about .container .row {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }
    header#about {
        display: block;
        text-align: left;
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
    }
    .about header {
        display: block;
        text-align: left;
        width: 85%;
        margin: 10px auto;
    }
    .about-us.container header:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 14px;
        width: 30px;
        height: 2px;
        background-color: #9e6c66;
        border-radius: 3px;
        transform: translateX(-50%);
    }
    .about-img-1 {
        margin-left: -75px;
    }
    .about p {
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
        text-align: left;
    }
    .about a {
        text-decoration: none;
        color: #fff;
        transition: transform .3s linear;
        margin-bottom: 20px;
    }
    .about-us .about-us-container {
        display: grid;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .about-us-container img#svg205 {
        margin: auto;
        margin-bottom: 10px;
    }
    .contact-container .form .input-group textarea {
        width: 100%;
        resize: none;
    }
    .contact-container .form button {
        padding: 7px 20px;
        border-radius: 25px;
        background-color: #9e6c66;
        color: #fff;
        display: inline-block;
        font-size: 0.8em;
        border: 0;
        margin: 0 auto;
        position: static;
    }
    .contact-container .form .input-row {
        display: grid !important;
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-content: start;
    }
    .contact-container .contact-details {
        display: none;
    }
    .contact-container .form .input-group {
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }
    .carousel {
        width: 95%;
        margin: 40px auto 0;
    }
    .carousel.abouts ol.carousel-indicators.forabout {
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
    .carousel.abouts .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 100%;
    }
    /* footer */
    .footer .foot {
        font-size: 0.8rem;
        margin: 0;
        line-height: 48px;
    }
    .services .container {
        width: 90%;
        margin: auto;
        display: grid;
        justify-items: start;
        padding: 100px 0 50px;
        color: #7f7f7f;
        border-bottom: 0px solid rgba(127, 127, 127, 0.2);
    }
    .services .contain {
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: start;
        padding: 30px 0 50px;
        color: #7f7f7f;
    }
    .services .service-list {
        width: 90%;
        margin: auto;
        border-bottom: 1px solid rgba(127, 127, 127, 0.2);
        padding: 20px 0;
    }
    .services .service-list a:hover {
        cursor: pointer;
    }
    .services .service-info:nth-of-type(even) {
        border-bottom: 1px solid rgba(127, 127, 127, 0.2);
        padding: 15px 0;
    }
    .navbar ul {
        display: none;
    }
    .navbar .toggleNav {
        display: block;
        color: rgba(255, 255, 255, 0.8);
        border: none;
        background: none;
    }
    .navbar .active a {
        color: white;
    }
    .top-nav .overlay .navbar.aboutC a.active {
        color: white;
    }
    .top-nav .aboutC .active a,
    .top-nav .aboutC a {
        color: white;
    }
    .navbar a {
        color: white;
    }
    .top-nav .aboutC button.toggleNav {
        color: #772E25;
        border: none;
        background: none;
    }
    button.toggleNav svg {
        width: 30px;
        height: 30px;
        margin-bottom: -7px;
        fill: white;
    }
    .top-nav button.toggleNav svg {
        width: 30px;
        height: 30px;
        margin-bottom: -7px;
        fill: white;
    }
    .overlay button.toggleNav svg {
        width: 20px;
        height: 30px;
        margin-bottom: -7px;
        fill: white;
    }
    /* working the header */
    section nav.navbar {
        position: fixed;
        z-index: 9999;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        border: none;
    }
    .header.alt-header.index-bg .navbar {
        position: fixed;
        z-index: 9999;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        border: none;
    }
    .overlay {
        position: fixed;
        background: #772E25;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        z-index: 20000;
        max-height: 100vh;
    }
    .overlay.open {
        display: grid;
        align-items: center;
        justify-items: center;
        max-height: 100vh;
    }
    .overlay.open .navbar ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0px;
        height: 210px;
        align-items: flex-start;
        padding-left: 40px;
    }
    .services img {
        position: relative;
        height: 300px;
        width: 60%;
        border-radius: 5px;
    }
    /* footer */
    .footer {
        height: auto;
        line-height: 50px;
        width: 100%;
        background-color: #772E25;
        color: #fff;
        text-align: center;
    }
    .footer.about {
        height: auto;
        line-height: 50px;
        width: 100%;
        background-color: #772E25;
        color: #fff;
        text-align: center;
        margin: 70px 0 0;
    }
    .footer .foot {
        text-align: left;
        padding-left: 25px;
        width: 100%;
    }
    .footer .contact-details {
        display: block;
        text-align: left;
    }
    .footer .contact-details header {
        width: 100%;
        margin: auto;
        text-align: left;
        padding-left: 10px;
    }
    .footer .contact-details ul {
        width: 85%;
        margin: auto;
        text-align: left;
    }
    .footer .contact-details ul p {
        display: inline;
        font-size: 13px;
    }
    .footer .contact-details h5 {
        margin: 0;
        padding: 20px 0 0 25px;
    }
    .footer .contact-details .contact-image {
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    .contact-container .form {
        max-width: 900px;
        position: relative;
        display: grid;
        width: 90%;
        grid-gap: 20px;
        margin: 0;
    }
    .contact-container .form button {
        padding: 7px 20px;
        border-radius: 25px;
        background-color: #9e6c66;
        color: #fff;
        display: inline-block;
        font-size: 0.8em;
        border: 0;
        position: absolute;
        bottom: 35px;
        right: 18%;
    }
    .contact-container .form .input-group {
        display: block;
        width: 80%;
        margin-bottom: 50px;
    }
    .contact-container .form .input-group textarea {
        width: 130%;
        resize: none;
    }
    .services .contain ul {
        padding: 0 40px;
    }
    .services .contain p {
        margin-top: 20px;
        padding: 0 20px;
    }
    .services img {
        position: relative;
        height: 270px;
        width: 100%;
        border-radius: 5px;
    }
    /* .carousel */
    .carousel.abouts ol.carousel-indicators.forabout {
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
    .carousel.abouts .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 100%;
    }
    .carousel.abouts .carousel-inner .carousel-item img {
        height: 50vh;
        width: 100%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .contact-container .form {
        max-width: 900px;
        position: relative;
        display: grid;
        width: 100%;
        grid-gap: 20px;
    }
    .contact-container .form button {
        padding: 7px 20px;
        border-radius: 25px;
        background-color: #9e6c66;
        color: #fff;
        display: inline-block;
        font-size: 0.8em;
        border: 0;
        position: absolute;
        bottom: 35px;
        right: 19%;
    }
    .contact-container .form .input-row {
        display: grid !important;
        width: 83%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: start;
    }
    .contact-container .form .input-group {
        display: block;
        width: 95%;
        margin-bottom: 50px;
    }
    .services .contain ul {
        padding: 0 60px;
    }
    .services .contain p {
        margin-top: 20px;
        padding: 0 30px;
    }
    .services img {
        position: relative;
        height: 300px;
        width: 80%;
        border-radius: 5px;
    }
}

@media screen and (min-width: 969px) and (max-width: 1102px) {
    .navbar {
        border-bottom: 1px solid grey;
        width: 85%;
        margin: auto;
    }
    .navbar ul {
        display: flex;
        position: absolute;
        right: 0;
        width: 75%;
        text-align: center;
    }
    .header.alt-header.index-bg .navbar {
        border-bottom: 1px solid white;
        width: 85%;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    section.about#about .container .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section.about#about .container .row .col-md-6 {
        flex: none;
        max-width: none;
    }
    section.about#about .container .row .col-md-6 .position-relative {
        padding-top: 60px;
    }
    section.about#about .container .row .col-md-6 .position-relative .about-img-1 {
        width: 80%;
    }
    section.about#about .container .row .col-md-6 .position-relative .about-img-2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-20%, -50%);
        width: 70%;
    }
    /* about page */
    .about-us.container {
        width: 80%;
        margin: auto;
        padding: 50px 15px;
    }
}

@media screen and (min-width: 1199px) and (max-width: 1900px) {
    .about-us.container {
        width: 80%;
        margin: auto;
        padding: 50px 15px;
    }
    .services .contain ul {
        padding: 0 90px;
        margin: auto;
    }
    .services .contain p {
        margin: auto;
        margin-top: 20px;
        padding: 0 60px;
    }
}

@media screen and (min-width: 1199px) and (max-width: 1440px) {
    .about-us.container {
        width: 80%;
        margin: auto;
        padding: 50px 15px;
    }
    .services .contain ul {
        padding: 0 90px;
    }
    .services .contain p {
        margin-top: 20px;
        padding: 0 60px;
    }
}


/* to make header responsive */

@media screen and (min-width: 768px) and (max-width: 905px) {
    .navbar {
        border-bottom: 1px solid grey;
        width: 88%;
        margin: auto;
    }
    .header.alt-header.index-bg .navbar {
        border-bottom: 1px solid white;
        width: 88%;
        margin: auto;
        z-index: 5;
    }
    .navbar ul {
        display: flex;
        position: absolute;
        right: 0;
        width: 77%;
        text-align: center;
    }
}

@media screen and (min-width: 906px) and (max-width: 1010px) {
    .navbar {
        border-bottom: 1px solid grey;
        width: 80%;
        margin: auto;
    }
    .header.alt-header.index-bg .navbar {
        border-bottom: 1px solid white;
        width: 80%;
        margin: auto;
        z-index: 5;
    }
    .navbar ul {
        display: flex;
        position: absolute;
        right: 0;
        width: 71%;
        text-align: center;
    }
}


/* iPhone X landscape */

@media screen and (min-width: 812px) and (max-width: 812px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .header-container .button {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid #fff;
        border-radius: 3px;
        display: inline-block;
        padding: 15px 20px;
        color: #fff;
        margin-top: 10px;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }
    .carousel {
        width: 50%;
        margin: 20px auto 0;
    }
}

@media screen and (max-width: 1279px) {
    /* province */
    .provinces .container .province-box button.hover-fix {
        width: 30px;
        height: 30px;
        background: white;
        z-index: 20;
        border: none;
        border-radius: 15px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .provinces .container .province-box button.hover-fix span {
        color: #772E25;
        font-size: 30px;
        line-height: 30px;
    }
    .provinces .container .province-box button.hover-fix.cloak {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .services img {
        position: relative;
        height: 300px;
        width: 65%;
        border-radius: 5px;
    }
}

@media screen and (max-width: 425px) {
    .services img {
        position: relative;
        height: 400px;
        width: 100%;
        border-radius: 5px;
    }
    .carousel.abouts {
        width: 100%;
        margin: 0;
        height: 300px;
    }
    .carousel.abouts .carousel-inner .carousel-item img {
        height: 300px;
        width: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 1023px) {
    .carousel.abouts {
        width: 70%;
        margin: 0 auto;
        height: 300px;
    }
    .carousel.abouts .carousel-inner .carousel-item img {
        height: 300px;
        width: 100%;
    }
}

@media screen and (min-width: 767px) {
    .footer.about p {
        margin-top: 0;
        text-align: center;
    }
    .about-us.container {
        width: 80%;
        margin: auto;
        padding: 50px 15px;
    }
}

@media screen and (min-width: 1077px) and (max-width: 1199px) {
    /* Faqs */
    .main-faq .container ul li {
        background: #f0efef;
        height: auto;
        margin: 10px 0 0;
    }
    .main-faq .container li p {
        padding-left: 10px;
        display: inline;
        font-size: 12px;
    }
    .main-faq .container li button.arrow {
        position: absolute;
        display: inline;
        right: 17%;
        background: none;
        border: none;
    }
}

@media screen and (max-width: 600px) {
    .main-faq {
        width: 90%;
    }
    .main-faq .container .accordion .acc-header {
        font-size: 13px;
        padding-left: 10px;
        width: 90%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .main-faq .container .accordion .acc-header:after {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 100;
        content: '+';
        font-size: 1em;
        position: absolute;
        right: 11.5%;
        height: 20px;
        line-height: 20px;
        width: 20px;
        border: solid 1px #772E25;
        color: #772E25;
        border-radius: 50%;
        text-align: center;
        transition: all .4s cubic-bezier(0.5, 0.2, 0.3, 1);
        cursor: pointer;
    }
    .main-faq .container .accordion .acc-header.active:after {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 100;
        content: '-';
        font-size: 1em;
        position: absolute;
        right: 11.5%;
        height: 20px;
        line-height: 20px;
        width: 20px;
        border: solid 1px #7f7f7f;
        color: #7f7f7f;
        border-radius: 50%;
        text-align: center;
        transition: all .4s cubic-bezier(0.5, 0.2, 0.3, 1);
        cursor: pointer;
    }
    .main-faq .container .accordion .acc-text {
        max-height: 0px;
        opacity: 0;
        transform: translateY(5px);
        background: #fff;
        padding: 0 20px;
        margin-bottom: 10px;
        overflow: hidden;
        transition: max-height .4s ease, opacity .8s ease, transform .8s ease;
    }
    .main-faq .container .accordion .acc-text p {
        text-align: left;
        padding: 10px 0 0 15px;
        display: block;
        font-size: 11px;
    }
    .main-faq .container .accordion .acc-text ul.inner-list {
        padding-left: 15%;
        margin: 0;
    }
    .main-faq .container .accordion .acc-text ul.inner-list li {
        background: none;
        list-style-type: disc;
        font-size: 11px;
        color: #7f7f7f;
        margin: 0;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(5%);
    }
    50% {
        transform: translateY(10%);
    }
    75% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}